
<div class="content">
	<div class="description">
		<h4>"This is the order page, which displays all orders placed by a customer. Click on the Items link to view all items that were a part of a customers order."</h4>
	</div>
    <div class="search">
        <input type="text" placeholder="Search..."/>
        <button id="search_submit">Submit</button>
    </div>
    <div class="add-order">
        <h3>Add Order</h3>
        <form id="addOrder" action="/orders" method="post">
        <div class="add-order-container">
            <div class="filter-input-container">
                <div class="filter-input-element">
                    Customer: <select name="customer"> 
                        {{#each people}}
                            <option value="{{customerId}}">{{customerFirstName}} {{customerLastName}}</option>
                        {{/each}}
                    </select><br>
                    Item: <select name="item"> 
                        {{#each item}}
                            <option value="{{itemId}}">{{itemTitle}}</option>
                        {{/each}}
                    </select><br>
                    Order Date: <input type="date" name="orderDate" placeholder="date" /><br>
                </div>
            </div>
            <input type="submit" value="submit" id='addOrderSubmit'>
        </div>
        </form>
    </div>
    <div class="lable">
        <div class="fn">
            <h3>Order Number</h3>
        </div>
        <div class="ln">
            <h3>Order Date</h3>
        </div>
        <div class="prc">
            <h3>Price</h3>
        </div>
    </div>
    <div id="orders">
        <div class="orderContainer">
            {{#each order}}
                 <section class="orders">
                    <div class="order-number">
                        {{orderId}}
                    </div>
                    <div class="order-date">
                        {{orderDate}}
                    </div>
                    <div class="price">
                        {{customerId}}
                    </div>
                    <div class="items">
                        <a href="/items">Items</a>
                    </div>
                    <div class="delete">
                        <button onclick="delete_order({{orderId}})">Delete</button>
                    </div>
                </section>
            {{/each}}
        </div>
    </div>
</div>